.navbar {
    list-style-type: none;
    margin: 0;
    padding: 2vh;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 2vh;
    font-variant: inherit;
  }
  
  
  .nav-link {
    display: block;
    color: rgb(110, 192, 220);
    text-align: center;
    padding: 2vh 2vh;
    text-decoration: none;
  }
  /* Change the link color to #111 (black) on hover */
  .navbar li a:hover {
    background-color: rgba(167, 234, 252, 0.696);
    box-shadow: 3px 3px 3px rgba(10, 13, 14, 0.312);
    color:rgb(77, 24, 127);
  }
  .nav-active
  {
    background-color: rgba(207, 214, 222, 0.591);
    box-shadow: 3px 3px 3px rgba(10, 13, 14, 0.312);
  }

  .mobileonly {
    display:none;
  }

  .desktoponly {
    display:block;
    width: 20%;
    margin-left: 2%;
  }
  
  @media only screen and (max-width: 800px) {
    .navbar {
      flex-direction: row;
      justify-content: center;
      font-size: 1.5vh;
      padding: 0.5vh;
    }
    .nav-link {
      
        padding: 0.5vh 0.5vh;
    }


    .mobileonly {
      display:block;
    }
    .desktoponly {
      display:none;
    }
  }

  @media only screen and (max-width: 400px) {
    .mobileonly {
      justify-content: center;
    }
  }